		
		<%play ||= false%>
		<%if scene%>  
		  <%middle_index = scene.middle_index%>
	      <%event = Event.for_scene(scene).at(middle_index).first%>
	    <%end%>
	    <%if scene && event%>

		    <%event.characters_present.each_index do |i|%>
		      <%char = event.characters_present[i]%>
		      <%=image_tag char[1], :class=>(char[0]=="BG" ? "bg" : "characters character#{i}")%>
		      <%=image_tag char[2], :class=>("characters character#{i}")%>
		    <%end%>
		    <%if event.glassbox?%>
		      <%=image_tag "glassbox.png", :class=>"glass"%>
		      <div class="speaker"><%=event.character_name%></div>
			  <div class="textarea"><%=simple_format event.get_text%></div>
		    <%end%>

		  
		<%else%>
		  <%=image_tag BackgroundImageEvent.default.get_file%>
		<%end%>
		<%if play%>
		    <%=image_tag "play_cover.png", :class=>"glass"%>
		 <%end%>