<%content_for :javascript do%>
 <%=javascript_include_tag("soundmanager2/soundmanager2","inlineplayer")%>
<%end%>
<%
  current_event = Event.for_scene(@scene).at(@event_index).first
  bg_file =  current_event.try(:characters_present).try(:first).try(:second) || BackgroundImageEvent.default.get_file
%>
<table id="scene-editor">
	<tr>
		<td>
			
			  <p><b>Scene <%=@scene.order_index%>:</b> <%=@scene.get_description%></p>
			<table class="table table-condensed">
			  <tr><td>
			  	 <h2 class="no-monospace">Script</h2>
			  	 <div class="script-holder">
			  	 <table class="script table-bordered table-hover table-condensed">
			  	 	<tbody>
			  	 	<%if Event.for_scene(@scene).empty?%>
			  	 	  <tr><td>Nothing in the script yet.</td></tr>
			  	 	<%end%>
			  	 	<%Event.for_scene(@scene).ordered.each do |event|%>
			  	 	  <tr data-order-id="<%=event.order_index%>" data-id="<%=event.id%>" id="row<%=event.id%>">
			  	 	  	<td><%=event.order_index%></td>
			  	 	  	<td>
			  	 	  		<%if @event_index!=event.order_index%>
			  	 	  		  <div data-url="<%=edit_project_scene_url(@project, @scene, :event_index=>event.order_index)%>">
			  	 	  		<%end%>

			  	 	  		<%=to_sentence(event)%>

			  	 	  		<%if @event_index!=event.order_index%></div><%end%>
			  	 	  		
			  	 	  		<div class="more hide"><hr>
			  	 	  		<input type="hidden" class="event_text" value="<%=event.text%>">
			  	 	  		<a class="btn btn-small <%=event_to_js(event)%>" href="#" data-name="<%=event.get_character_name%>" data-type="<%=event.type%>" data-character-id="<%=event.character.try(:id)%>"><i class="icon-pencil"></i><%=event_to_command(event)%></a>
			  	 	  		  <%=subcommand(event)%>
			  	 	  		  <br/>
			  	 	  		  <%if event.order_index != 1%>
			  	 	  		    <a class="btn btn-small" href="<%=moveup_event_path(event)%>"><i class="icon-arrow-up"></i> Move Up</a>
			  	 	  		  <%end%><%if event.order_index != @event_count%>
			  	 	  		  <a class="btn btn-small" href="<%=movedown_event_path(event)%>"><i class="icon-arrow-down"></i> Move Down</a>
			  	 	  		  <%end%>
			  	 	  		  <a class="btn btn-small confirmable" href="<%=delete_event_path(event)%>"><i class="icon-remove"></i> Remove</a>
			  	 	  		</div>
			  	 	  	</td>
			  	 	  	<td width="28">
			  	 	  		<a class="btn btn-mini dropdown" href="#" title="Edit or Delete"><i class="icon-pencil"></i></a>
			  	 	  	</td>
			  	 	  </tr>
			  	 	<%end%>
			  	    </tbody>
			  	 </table></div> 
			  	 <h3>Add to the Script!</h3>
			  	<%character = @project.characters.where(:type=>"Narrator").first%>
	  	        <table class="action-items">
			  	 	<tr><td rowspan=3 class="icon"><span class="btn"><%=image_tag character.icon%></span></td>
			  	 	<td class="btn btn-small"><a href="#" class="edit-speak" data-type="NarrationEvent" data-character-id="<%=character.id%>" data-name="">Narration</td></tr>
			  	 	<tr><td class="btn btn-small"><a href="#" class="edit-speak" data-type="CharacterThinksEvent" data-character-id="<%=character.id%>" data-name="<%=character.name%>"><%=character.name%> thinks</td></tr>
			  	 	<tr><td class="btn btn-small"><a href="#" class="edit-speak" data-type="CharacterSpeaksEvent" data-character-id="<%=character.id%>" data-name="<%=character.name%>"><%=character.name%> speaks</a></td></tr>
	  	        </table>


				  	<%@project.characters.without_narrator.each do |character|%>
				  	   <%if @scene.love_scene? || current_event.has_character?(character)%>
				  	      <table class="action-items">
					  	 	<tr><td rowspan=3 class="icon"><div class="btn"><%=image_tag character.icon%></div></td>
					  	 	<td class="btn btn-small"><a href="#" class="edit-speak" data-type="CharacterSpeaksEvent" data-character-id="<%=character.id%>" data-name="<%=character.name%>"><%=character.name%> speaks</a></td></tr>
					  	 	<tr><td class="btn btn-small"><a href="#" class="edit-pose" data-character-id="<%=character.id%>"><%=character.name%> changes pose</a></td></tr>
					  	 	<%unless @scene.love_scene?%>
					  	 	<tr><td class="btn btn-small">
					  	 		<%=form_tag update_event_project_scene_path(@project, @scene)%>
					  	 		  <input type="hidden" name="event[type]" value="CharacterVanishEvent">
					  	 		  <input type="hidden" name="event[character_id]" value="<%=character.id%>">
					  	 		  <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
					  	 		  <a href="#" class="submitable"><%=character.name%> vanishes</a>
					  	 	    </form>
					  	 	</td></tr>
					  	 	<%end%>
				  	      </table>
				  	   <%end%>
				  	<%end%>
				  	<%if !@scene.love_scene?%>
					  	<%@project.characters.without_narrator.each do |character|%>
					  	  <%if !current_event.has_character?(character)%>
					  	        <table class="action-items">
							  	 	<tr><!--<td rowspan=1 class="icon"><span class="btn"><%=image_tag "spacer.gif", :style=>"background-color:lightgray; height:56px"%></span></td>-->
							  	 	<td class="btn btn-small"><a href="#" class="edit-pose" data-character-id="<%=character.id%>"><%=character.name%> appears</a></td></tr>
							  	 </table>  
					  	    
					  	  <%end%>
					  	<%end%>
				  	<%end%>

			  	 <table class="action-items">
			  	 	<tr>
			  	 	  <td rowspan=4 class="icon"><div class="btn"><%=image_tag bg_file%> </div></td>
			  	 	  <td class="btn btn-small"><a href="#" class="edit-bg-image">Background changes</a></td>
			  	 	</tr>
			  	 	<tr><td class="btn btn-small"><a href="#" class="edit-music">Music changes</a></td></tr>
			  	 	<tr><td class="btn btn-small"><%=link_to "Preview!", play_scene_path(@project, @project.basename, @scene)%></td></tr>
			  	 	
			  	 </table>
			  </td></tr>
			</table>
			<%=form_for [@project, @scene] do |f|%>
			  <%=f.hidden_field :custom_description, :value=>@scene.get_description, :class=>"nameable"%>
			  <a class="btn btn-small change-name">Change Scene Name</a>
		    <%end%>
		    <%= form_for([@project, @scene], :method => :delete) do |f|%>   
			  <a class="btn btn-small delete-scene">Delete Scene</a>
			<%end%>
		</td>
		<td>
		  <div class="mini-editor">

		  	<!-- Stage Viewer -->
		    <div class="mini-viewer">
		      
			  
			  <%if current_event%>
			    <%char = current_event.characters_present.first%>
			      <%if char%>
			      <%=image_tag char[1], :class=>"bg"%>
			    <%end%>
			  <%end%>
			  
			    <!-- edit text -->
			    <div class="glassbox" style="display:none">
			    	<%=image_tag "glassbox.png", :class=>"glass"%>
			    	<div class="speaker"></div>
			    	<div class="textarea"></div>

			    	  <%=form_tag update_event_project_scene_path(@project, @scene)%>
			    	  <textarea name="event[text]" value="" class="hide"></textarea>
			    	  <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
			    	  <input type="hidden" name="event[type]" class="event_type" value="">
			    	  <input type="hidden" name="event_id" class="event_id" value="">
			    	  <input type="hidden" name="event[character_id]" class="character_id" value="">
			    	  <input type="hidden" name="more_text" class="more_text" value="">
			    	  <input type="hidden" name="more_text_type" class="more_text_type" value="">
			    	  <a class="btn btn-mini add-more-text controls hide" href="#"><i class="icon-arrow-down"></i> Add More Text</a>
			    	  <a class="btn btn-mini submitable controls hide" href="#"><i class="icon-check"></i> Finished Typing</a>
			    	  </form>
			    	
			    </div>
			  

		    </div>
		    <div class="overlay-topper hide"><span></span><a class="btn btn-small" href="#"><i class="icon-remove"></i> Close</a></div>

		    <!-- BG Images -->
		    <%bg_event_type = @scene.love_scene? ? LovePoseEvent : BackgroundImageEvent%>
		    <div class="overlay bg-image" style="display:none">
		    	<ul class="thumbnails">
		      <%bg_event_type.file_list.each do |option|%>
		        <li class="span2">
		        <%=form_tag update_event_project_scene_path(@project, @scene)%>
		          <input type="hidden" name="event[type]" value="<%=bg_event_type%>">
		          <input type="hidden" name="event[<%=bg_event_type.bg_attribute%>]" value="<%=option.url%>">
		          <input type="hidden" name="event_id" class="event_id" value="">
		          <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
		          <a class="submitable thumbnail">
		          	<%= image_tag option.url%><p><%=option.title%></p>
		          </a>
		          
		        </form>
		        </li>
		      <%end%>
		      </ul>
		    </div>

		    <!-- Music -->
		    <div class="overlay music" style="display:none">
		    <ul class="graphic">
		    	<%=form_tag update_event_project_scene_path(@project, @scene)%>
		          <input type="hidden" name="event[type]" value="BackgroundMusicEvent">
		          <input type="hidden" name="event[filename]" value="">
		          <input type="hidden" name="event_id" class="event_id" value="">
		          <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
		          <li class="">
		          	<a class="silence" href="#">(Silence)</a><button class="submitable btn btn-small" href="#">Choose</button>
		          </li>
		        </form>
		      <%BackgroundMusicEvent.file_list.each do |option|%>
		    
		        <%=form_tag update_event_project_scene_path(@project, @scene)%>
		          <input type="hidden" name="event[type]" value="BackgroundMusicEvent">
		          <input type="hidden" name="event[filename]" value="<%=option.url%>">
		          <input type="hidden" name="event_id" class="event_id" value="">
		          <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
		          <li class="<%=option.category%>">
		          	<a class="" href="<%=option.url%>"><%=option.title%></a><button class="submitable btn btn-small" href="#">Choose</button>
		          </li>
		        </form>
		        
		      <%end%>
		      </ul>
		    </div>


		    <!-- Normal Poses -->
			    <%@project.characters.each do |character|%>
			    <%next if character.is_narrator?%>
			      <div class="overlay poses-for-<%=character.id%>" style="display:none">
			      	<ul class="thumbnails">
			      	<%category = @scene.love_scene? ? "LovePose" : "Pose"%>
				    <%character.get_poses(category,session_obj).each do |option|%>
				      <%=form_tag update_event_project_scene_path(@project, @scene)%>
				        <li class="span2">
				        <input type="hidden" name="event[type]" value="CharacterPoseEvent">
			            <input type="hidden" name="event[filename]" value="<%=option.url%>">
			            <input type="hidden" name="event[character_id]" value="<%=character.id%>">
			            <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
			            <%unless @scene.love_scene?%>
			              <input type="hidden" name="event[subfilename]" value="<%=option.face%>" class="subfilename">
			            <%end%>
			            <input type="hidden" name="event_id" class="event_id" value="">
				  	     <a class="submitable thumbnail">
				  	    <%=image_tag(option.thumbnail)%><p><%=option.title%></p>
				  	    </a>
				  	  </li>
				  	  </form>
				  	<%end%>
				    </ul>
			      </div>
			      <%if !@scene.love_scene?%>
				      <div class="overlay faces-for-<%=character.id%>" style="display:none">
				      	<ul class="thumbnails">
					    <%character.get_poses("Face",session_obj).each do |option|%>
					      <%=form_tag update_event_project_scene_path(@project, @scene)%>
					        <li class="span2">
					        <input type="hidden" name="event[type]" value="CharacterPoseEvent">
				            <input type="hidden" name="event[subfilename]" value="<%=option.url%>">
				            <input type="hidden" name="event_id" class="event_id" value="">
					  	     <a class="submitable thumbnail">
					  	    <%=image_tag(option.thumbnail)%><p><%=option.title%></p>
					  	    </a>
					  	  </li>
					  	  </form>
					  	<%end%>
					    </ul>
				      </div>
			      <%end%>

			    <%end%>
		


		  </div>
		</td>
	</tr>
</table>
 <div id="sm2-container">
  <!-- SM2 flash goes here -->

 </div>
<script>
  var events = <%=json_escape([@scene].map{|scene| scene.get_ordered_events}.flatten.to_json(:methods=>[:event_type, :get_character_name], :except=>[:created_at, :updated_at, :character_type]).html_safe)%>
  window.onload = function(){
  	setCurrentEvent($("#row<%=current_event.id%>"));
  }
</script>
