<table class="scene-editor">
	<tr>
		<td>
			<table class="table table-condensed">
			  <tr><td><b>Story:</b> <%=@project.title%></td></tr>
			  <tr><td><b>Scene:</b> <a title="Click to change scene description"><%=@scene.get_description%></a></td></tr>
			  <tr><td>
			  	 <h2>Script</h2>
			  	 <div class="script-holder">
			  	 <table class="script table-bordered table-hover table-condensed">
			  	 	<tbody>
			  	 	<%Event.for_scene(@scene).ordered.each do |event|%>
			  	 	  <tr data-order-id="<%=event.order_index%>" data-id="<%=event.id%>" id="row<%=event.id%>" class="<%="selected" if @event_index==event.order_index%>">
			  	 	  	<td><%=event.order_index%></td>
			  	 	  	<td>
			  	 	  		<%if @event_index!=event.order_index%>
			  	 	  		  <div class="jump-to tippable" title="Jump Here" data-url="<%=edit_project_scene_url(@project, @scene, :event_index=>event.order_index)%>">
			  	 	  		<%end%>

			  	 	  		<span class='muted'><%=event.to_sentence%></span><br/><small><%=event.detail%></small>

			  	 	  		<%if @event_index!=event.order_index%></div><%end%>
			  	 	  		
			  	 	  		<div class="more"><hr>
			  	 	  		  <%if event.is_a?(BackgroundImageEvent)%>
			  	 	  		    <a class="btn btn-small edit-bg-image" href="#"><i class="icon-pencil"></i> Change Image</a><br/>
			  	 	  		  <%elsif event.is_a?(CharacterPoseEvent)%>
			  	 	  		    <a class="btn btn-small edit-pose" href="#" data-name="<%=event.character_type%>"><i class="icon-pencil"></i> Change Pose</a><br/>
			  	 	  		  <%end%>
			  	 	  		  <%if event.order_index != 1%>
			  	 	  		    <a class="btn btn-small" href="<%=moveup_event_path(event)%>"><i class="icon-arrow-up"></i> Move Up</a>
			  	 	  		  <%end%><%if event.order_index != @scene.events.count%>
			  	 	  		  <a class="btn btn-small" href="<%=movedown_event_path(event)%>"><i class="icon-arrow-down"></i> Move Down</a>
			  	 	  		  <%end%>
			  	 	  		  <a class="btn btn-small confirmable" href="<%=delete_event_path(event)%>"><i class="icon-remove"></i> Remove</a>
			  	 	  		</div>
			  	 	  	</td>
			  	 	  	<td>
			  	 	  		<a class="btn btn-mini" href="#" id='dropdown' title="Edit or Delete"><i class="icon-pencil"></i></a>
			  	 	  	</td>
			  	 	  </tr>
			  	 	<%end%>
			  	    </tbody>
			  	 </table></div> 
			  	 <h3>Add to the Script!</h3>
			  	 <%@project.characters.each do |character|%>
			  	   <%if @scene.has_character?(character, @event_index)%>
			  	      <table class="action-items table-bordered">
				  	 	<tr><td rowspan=3><%=image_tag "spacer.gif", :style=>"background-color:lightgray"%></td>
				  	 	<td><a href="#" class="edit-speak" data-type="CharacterSpeaksEvent" data-character-id="<%=character.id%>" data-name="<%=character.type%>"><%=character.name%> speaks</a></td></tr>
				  	 	<tr><td><a href="#" class="edit-pose" data-name="<%=character.type%>"><%=character.name%> changes pose</a></td></tr>
				  	 	<tr><td>
				  	 		<%=form_tag update_event_project_scene_path(@project, @scene)%>
				  	 		  <input type="hidden" name="event[type]" value="CharacterVanishEvent">
				  	 		  <input type="hidden" name="event[character_id]" value="<%=character.id%>">
				  	 		  <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
				  	 		  <a href="#" class="submitable"><%=character.name%> vanishes</a>
				  	 	    </form>
				  	 	</td></tr>
			  	      </table>
			  	   <%else%>
			  	      <%if character.is_narrator?%>
			  	        <table class="action-items table-bordered">
					  	 	<tr><td rowspan=3><%=image_tag "spacer.gif", :style=>"background-color:lightgray"%></td>
					  	 	<td><%=character.name%> narrates</td></tr>
					  	 	<tr><td><%=character.name%> thinks</td></tr>
					  	 	<tr><td><%=character.name%> speaks</td></tr>
			  	        </table>
			  	      <%else%>
			  	        <table class="action-items table-bordered">
					  	 	<tr><td rowspan=1><%=image_tag "spacer.gif", :style=>"background-color:lightgray"%></td>
					  	 	<td><a href="#" class="edit-pose" data-name="<%=character.type%>"><%=character.name%> appears</a></td></tr>
					  	 </table>  
			  	      <%end%>
			  	   <%end%>
			  	 <%end%>
			  	 <table class="action-items table-bordered">
			  	 	<tr><td rowspan=3><%=image_tag "spacer.gif", :style=>"background-color:lightgray"%></td>
			  	 	<td><a href="#" class="edit-bg-image">Background changes</a></td></tr>
			  	 	<tr><td>Music changes</td></tr>
			  	 	<tr><td>Scene finished!</td></tr>
			  	 </table>
			  </td></tr>
			</table>
		</td>
		<td>
		  <div class="mini-editor">

		  	<!-- Stage Viewer -->
		    <div class="mini-viewer">
		      <%current_event = Event.for_scene(@scene).at_or_before(@event_index).first%>
			  <%=image_tag @scene.image_at(@event_index).get_file, :class=>"bg"%>
			  <%@scene.character_poses(@event_index).each do |event|%>
			      <%=image_tag event.get_file, :class=>"character1 "+event.character_type%>
			  <%end%>
			  
			    <!-- edit text -->
			    <div class="glassbox" style="<%="display:none" if !current_event.glassbox?%>">
			    	<div class="data"><%=current_event.get_text%></div>
			    	<div class="controls">
			    	  <%=form_tag update_event_project_scene_path(@project, @scene)%>
			    	  <textarea name="event[text]" value=""></textarea>
			    	  <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
			    	  <input type="hidden" name="event[type]" class="event_type" value="">
			    	  <input type="hidden" name="event_id" class="event_id" value="">
			    	  <input type="hidden" name="event[character_id]" class="character_id" value="">
			    	  <a class="btn btn-mini add-more-text" href="#"><i class="icon-arrow-down"></i> Add More Text</a>
			    	  <a class="btn btn-mini submitable" href="#"><i class="icon-check"></i> Finished Adding Text</a>
			    	  </form>
			    	</div>
			    </div>

		    </div>
		    <div class="overlay-topper"><span></span><a class="btn btn-small" href="#"><i class="icon-remove"></i> Close</a></div>

		    <!-- BG Images -->
		    <div class="overlay bg-image">
		      <%BackgroundImageEvent.file_list.each do |option|%>
		        <%=form_tag update_event_project_scene_path(@project, @scene)%>
		          <input type="hidden" name="event[type]" value="BackgroundImageEvent">
		          <input type="hidden" name="event[filename]" value="<%=option.filename%>">
		          <input type="hidden" name="event_id" class="event_id" value="">
		          <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
		          <div class="floater">
		          	<%=link_to image_tag(option.image_url), "#"%><%=link_to option.title, "#"%>
		          </div>
		        </form>
		      <%end%>
		    </div>

		    <!-- Poses -->
		    
		    <%@project.characters.each do |character|%>
		    <%next if character.is_narrator?%>
		      <div class="overlay poses-for-<%=character.type%>">
			    <%character.type.constantize.pose_list.each do |option|%>
			      <%=form_tag update_event_project_scene_path(@project, @scene)%>
			        <input type="hidden" name="event[type]" value="CharacterPoseEvent">
		            <input type="hidden" name="event[filename]" value="<%=option.filename%>">
		            <input type="hidden" name="event[character_id]" value="<%=character.id%>">
		            <input type="hidden" name="event[order_index]" class="event_order" value="<%=@event_index%>">
		            <input type="hidden" name="event_id" class="event_id" value="">
			  	    <div class="floater">
			  	    <%=link_to image_tag(option.image_url), "#"%><%=link_to option.title, "#"%>
			  	    </div>
			  	  </form>
			  	<%end%>
		      </div>
		    <%end%>
		  </div>
		</td>
	</tr>
</table>
