<h1><%=coolify @project.title%></h1>
<h2>Characters</h2>
<ul class="thumbnails character-index">
	
	<% Character.all_available.each do |named_character| %>
	  <li class="span3">
		<div class="thumbnail">
		<img data-src="holder.js/300x200" alt="" style="width:300px;height:200px; background-color:lightgray">
		<%if character = named_character.first(:conditions=>["project_id=?",@project.id])%>
		  <%=form_for character, :as=>:character, :url=>project_character_path(@project, character) do |f|%>
		    <h3 class="no-monospace">
		    	<span><%=character.name%> <a class="btn btn-mini change-name" href="#" title="Click to Change Name">Change</a></span>
		    	<%=f.hidden_field :name, :class=>"nameable"%>

		    </h3>
		    
		  <%end%>
		<%else%>
		<h3><%=named_character%></h3>
		<%end%>
		

		<p>
		<!--<%=form_tag toggle_character_path(@project.id, named_character.to_s)%>
		  <input type="checkbox" <%if character%>checked="checked" onClick="javascript:confirmCharacterRemoval();"<%end%> class="checkbox submitable">
          Appears in <%=coolify @project.title%></p>
       </form>-->
		</div>
	  </li>

	
	<%end%>

</ul>




