<!DOCTYPE html>
<html>
<head>
  <title>Datingsim</title>
  <%= stylesheet_link_tag "bootstrap.css","inlineplayer","flashblock","application" %>
  
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>
<body class="<%=@body_class || ""%>">
<div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <div class="nav">

                    <ul class="breadcrumb">
                    <li><%=link_to "MyVisualNovel", root_url%> <span class="divider">/</span></li>
                    <%unless session_obj.projects.empty?%>
                      <li><%=link_to "Novels", projects_path%> <span class="divider">/</span></li>
                    <%end%>
                      <%if @project && !@project.new_record?%>
                        <li><%=link_to coolify(@project.title), @project%> <span class="divider">/</span></li>
                      
                    <%end%>
                    <li style="float:right">
                    <%if logged_in?%>
                      <%=link_to "Logout", logout_path%>
                    <%else%>
                      <%=link_to "Login", login_path%>
                    <%end%>
                   </li>
                    </ul>
                    
                </li>
              </div>
            </div>
          </div>
        </div>
<div class="container-narrow">
  <div class="jumbotron">
  <%if notice%>
      <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice%>
      </div>
  <%end%>
  <%= yield %>
  </div>
</div>
<%if @backlink%>
  <a class="carousel-control left" href="<%=@backlink%>" >&lsaquo;</a>
<%end%>
<%if @nextlink%>
  <a class="carousel-control right" href="<%=@nextlink%>">&rsaquo;</a>
<%end%>
<%= javascript_include_tag "jquery","http://code.jquery.com/ui/1.10.3/jquery-ui.js","bootstrap.js","jquery.effects.core", "jquery.effects.slide","slide","soundmanager2/soundmanager2","inlineplayer","popups","application" %>
</body>
</html>
